@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!--
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>. Model.Message</p>
</div>
    -->

<!-- <form action="/VM/List" method="post"> -->
<form id="MainSelectionForm">
    <h3>Connection Details:</h3><br />
    <div class="ConnectionDetails-border-solid">
        <div class="ConnectionDetails-item">
            <label style="width:25%" for="Host">HOST(宿主机地址): </label>
            <input style="width:55%" type="text" name="Host" value="@Model.Host" />
            <div style="width:10%;padding-left:3px"><input style="width:100%" type="text" name="Port" value="@Model.Port" placeholder="22"/></div>
        </div>
        <div class="ConnectionDetails-item">
            <label style="width:25%" for="Username">USERNAME(用户名): </label>
            <input style="width:65%" type="text" name="Username" value="@Model.Username" />
        </div>
        <div class="ConnectionDetails-item">
            <label style="width:25%" for="Password">PASSWORD(密码): </label>
            <input style="width:65%" type="password" name="Password" value="@Model.Password" />
        </div>
        <div class="ConnectionDetails-item">
            <label style="width:25%" for="BackupPath">BACKUP PATH(宿主机备份路径): </label>
            <input style="width:65%" type="text" name="BackupPath" value="@Model.BackupPath" />
        </div>
    </div>
    <br /><h3>Select:</h3><br />
    <div class="row">
        <div class="MainSelection-border-solid">
            @foreach (var selection in Model.MainSelectionValues)
            {
                <input type="radio" asp-for="MainSelection" value="@selection" /> @selection<br />
            }

            VM Name: <input type="text" name="VMName" id="VMName" onkeyup="this.value=this.value.replace(/[, ]/g,'')"/><br />
            <button type="button" id="MainSelectionButton">Submit</button>
        </div>

        <div class="MainSelection-border-solid" id="Details">
            VM Title: <input type="text" name="VMTitle" id="VMTitle" /><br />
            VM Description: <textarea rows="6" style="width:100%; white-space: pre; overflow-wrap: normal; overflow-x: scroll;" name="VMDesc" id="VMDesc"></textarea>
        </div>

        <div class="MainSelection-border-solid" style="display: none;" id="VMBackupListBlock">
            <h3>Backups:</h3>
            <div style="display: none;" id="VMBackupListRadio">
            </div>
            <div style="display: none;" id="VMBackupListRadioButtons">
                <br />
                <button type="button" id="GetBackupDetailsButton">Get Backup Details(展示备份详情)</button>
                <button type="button" id="RestoreBackupButton">Restore Backup(恢复备份)</button>
            </div>
            <div style="display: none;" id="VMBackupListNotFound">
                <h3>No backups found!</h3>
            </div>
        </div>
    </div>
</form>

<div>
    <br /><h3>Output:</h3><br />
    <div class="MainOutput-border-solid" id="MainOutput"></div>
</div>

@section scripts {
    <script type="text/javascript">

        function escapeHtml(unsafe) {
            return unsafe
                 .replace(/&/g, "&amp;")
                 .replace(/</g, "&lt;")
                 .replace(/>/g, "&gt;")
                 .replace(/"/g, "&quot;")
                 .replace(/'/g, "&#039;");
         }


        $(document).ready(function () {
            $("input:radio[name=MainSelection]:not(:disabled):first").attr('checked', true);

            $("#MainSelectionButton").click(function () {
                $("#MainSelectionButton").prop('disabled', true).css('opacity', 0.5);

                var data = $("#MainSelectionForm").serialize();

                var selection = $("#MainSelection:checked").val();

                if (selection.localeCompare("List Virtual Machines(列出所有虚拟机)") == 0) {
                    $("#VMDesc").val("");
                    $("#VMTitle").val("");
                    $("#MainOutput").html("");

                    $("#Details").show();
                    $("#VMBackupListBlock").hide();

                    $.post("/VM/List",
                        data,
                        function (data, status) {
                            $("#MainOutput").html("<pre class=\"MainOutput\">" + data + "</pre>");
                            $("#MainSelectionButton").prop('disabled',false).css('opacity',1);
                        }
                    )
                    .fail(function(response) {
                        alert('Error!\nVerify connection detail values.');
                        $("#MainSelectionButton").prop('disabled',false).css('opacity',1);
                    });
                } else if (selection.localeCompare("Get Virtual Machine Details(展示所选虚拟机详情)") == 0) {
                    $("#VMDesc").val("");
                    $("#VMTitle").val("");
                    $("#MainOutput").html("");

                    var VMNameLength = $("#VMName").val().length;
                    if (VMNameLength < 1) {
                        alert('Error: No VM Name entered.');
                        $('#MainSelectionButton').prop('disabled',false).css('opacity',1);
                        return;
                    }

                    $("#Details").show();
                    $("#VMBackupListBlock").hide();

                    $.post("/VM/DetailsGet",
                        data,
                        function (data, status) {
                            data = JSON.parse(data);

                            if (data.Error != null && data.Error == true) {
                                $("#MainOutput").html("<pre class=\"MainOutput\">" + data.ErrorMsg + "</pre>");
                            } else {
                                $("#VMDesc").val(data.vmDesc);
                                $("#VMTitle").val(data.vmTitle);
                                $("#MainOutput").html("<pre class=\"MainOutput\">" + data.vmInfo + "</pre>");
                            }

                            $("#MainSelectionButton").prop('disabled',false).css('opacity',1);
                        }
                    )
                    .fail(function(response) {
                        alert('Error!\nVerify connection detail values.');
                        $("#MainSelectionButton").prop('disabled',false).css('opacity',1);
                    });
                } else if (selection.localeCompare("Get Virtual Machine XML(展示所选虚拟机XML)") == 0) {
                    $("#VMDesc").val("");
                    $("#VMTitle").val("");
                    $("#MainOutput").html("");

                    var VMNameLength = $("#VMName").val().length;
                    if (VMNameLength < 1) {
                        alert('Error: No VM Name entered.');
                        $('#MainSelectionButton').prop('disabled',false).css('opacity',1);
                        return;
                    }

                    $("#Details").show();
                    $("#VMBackupListBlock").hide();

                    $.post("/VM/DetailsXML",
                        data,
                        function (data, status) {
                            data = JSON.parse(data);

                            if (data.Error != null && data.Error == true) {
                                $("#MainOutput").html("<pre class=\"MainOutput\">" + data.ErrorMsg + "</pre>");
                            } else {
                                $("#MainOutput").html("<pre class=\"MainOutput\">" + escapeHtml(data.vmXML) + "</pre>");
                            }

                            $("#MainSelectionButton").prop('disabled',false).css('opacity',1);
                        }
                    )
                    .fail(function(response) {
                        alert('Error!\nVerify connection detail values.');
                        $("#MainSelectionButton").prop('disabled',false).css('opacity',1);
                    });
                }  else if (selection.localeCompare("Set Virtual Machine Details(设置所选虚拟机详情)") == 0) {
                    $("#MainOutput").html("");

                    var VMNameLength = $("#VMName").val().length;
                    if (VMNameLength < 1) {
                        alert('Error: No VM Name entered.');
                        $('#MainSelectionButton').prop('disabled',false).css('opacity',1);
                        return;
                    }

                    $("#Details").show();
                    $("#VMBackupListBlock").hide();

                    $.post("/VM/DetailsSet",
                        data,
                        function (data, status) {
                            data = JSON.parse(data);

                            if (data.Error != null && data.Error == true) {
                                $("#MainOutput").html("<pre class=\"MainOutput\">" + data.ErrorMsg + "</pre>");
                            } else {
                                $("#MainOutput").html("<pre class=\"MainOutput\">" + data.vmTitleOutput + "\n" + data.vmDescOutput + "</pre>");
                            }

                            $("#MainSelectionButton").prop('disabled',false).css('opacity',1);
                        }
                    )
                    .fail(function(response) {
                        alert('Error!\nVerify connection detail values.');
                        $("#MainSelectionButton").prop('disabled',false).css('opacity',1);
                    });
                } else if (selection.localeCompare("Backup Virtual Machine(备份所选虚拟机)") == 0) {
                    $("#MainOutput").html("");

                    var VMNameLength = $("#VMName").val().length;
                    if (VMNameLength < 1) {
                        alert('Error: No VM Name entered.');
                        $('#MainSelectionButton').prop('disabled',false).css('opacity',1);
                        return;
                    }

                    $("#Details").show();
                    $("#VMBackupListBlock").hide();

                    $.post("/VM/BackupCreate",
                        data,
                        function (data, status) {
                            data = JSON.parse(data);

                            if (data.Error != null && data.Error == true) {
                                $("#MainOutput").html("<pre class=\"MainOutput\">" + data.ErrorMsg + "</pre>");
                            } else {
                                $("#MainOutput").html("<pre class=\"MainOutput\">" + data.backupOutput + "</pre>");
                            }

                            $("#MainSelectionButton").prop('disabled',false).css('opacity',1);
                        }
                    )
                    .fail(function(response) {
                        alert('Error!\nVerify connection detail values.');
                        $("#MainSelectionButton").prop('disabled',false).css('opacity',1);
                    });
                } else if (selection.localeCompare("List Virtual Machines With Backups(列出所有虚拟机备份信息)") == 0) {
                    $("#VMDesc").val("");
                    $("#VMTitle").val("");
                    $("#MainOutput").html("");

                    $("#Details").show();
                    $("#VMBackupListBlock").hide();

                    $.post("/VM/BackupVMList",
                        data,
                        function (data, status) {
                            $("#MainOutput").html("<pre class=\"MainOutput\">" + data + "</pre>");
                            $("#MainSelectionButton").prop('disabled', false).css('opacity', 1);
                        }
                    )
                    .fail(function (response) {
                        alert('Error!\nVerify connection detail values.');
                        $("#MainSelectionButton").prop('disabled', false).css('opacity', 1);
                    });
                } else if (selection.localeCompare("List Virtual Machine Backups(列出所选虚拟机所有备份)") == 0) {
                    $("#MainOutput").html("");

                    var VMNameLength = $("#VMName").val().length;
                    if (VMNameLength < 1) {
                        alert('Error: No VM Name entered.');
                        $('#MainSelectionButton').prop('disabled',false).css('opacity',1);
                        return;
                    }

                    $("#Details").hide();
                    $("#VMBackupListBlock").hide();
                    $("#VMBackupListRadio").hide();
                    $("#VMBackupListRadio").html("");
                    $("#VMBackupListRadioButtons").hide();
                    $("#VMBackupListNotFound").hide();

                    $.post("/VM/BackupList",
                        data,
                        function (data, status) {
                            data = JSON.parse(data);

                            var backupsFound = false;
                            data.forEach(function(backup) {
                                console.log(backup.Date);
                                console.log(backup.DatePretty);

                                var radioBtn = $('<input type="radio" value="' + backup.Date + '" id="BackupSelection" name="BackupSelection" /> ' + backup.DatePretty + '<br \>');
                                radioBtn.appendTo('#VMBackupListRadio');

                                backupsFound = true;
                            });

                            $("#VMBackupListBlock").show();

                            if (backupsFound == true) {
                                $("#VMBackupListRadio").show();
                                $("#VMBackupListRadioButtons").show();
                            }
                            else {
                                $("#VMBackupListNotFound").show();
                            }

                            $("#MainSelectionButton").prop('disabled',false).css('opacity',1);
                        }
                    )
                    .fail(function(response) {
                        alert('Error!\nVerify connection detail values.');
                        $("#MainSelectionButton").prop('disabled',false).css('opacity',1);
                    });
                }
            });




            $("#GetBackupDetailsButton").click(function () {
                $("#MainSelectionButton").prop('disabled',true).css('opacity',1);
                $("#GetBackupDetailsButton").prop('disabled',true).css('opacity',1);
                $("#RestoreBackupButton").prop('disabled',true).css('opacity',1);
                $("#MainOutput").html("");

                var VMNameLength = $("#VMName").val().length;
                if (VMNameLength < 1) {
                    alert('Error: No VM Name entered.');
                    $("#MainSelectionButton").prop('disabled',false).css('opacity',1);
                    $("#GetBackupDetailsButton").prop('disabled',false).css('opacity',1);
                    $("#RestoreBackupButton").prop('disabled',false).css('opacity',1);
                    return;
                }

                if (typeof $("#BackupSelection:checked").val() !== 'undefined') {
                    var data = $("#MainSelectionForm").serialize();

                    var selection = $("#BackupSelection:checked").val();

                    $("#MainOutput").html("");

                    $.post("/VM/BackupDetails",
                        data,
                        function (data, status) {
                            $("#MainOutput").html("<pre class=\"MainOutput\">" + escapeHtml(data) + "</pre>");
                            $("#MainSelectionButton").prop('disabled',false).css('opacity',1);
                            $("#GetBackupDetailsButton").prop('disabled',false).css('opacity',1);
                            $("#RestoreBackupButton").prop('disabled',false).css('opacity',1);
                        }
                    )
                    .fail(function(response) {
                        alert('Error!\nVerify connection detail values.');
                        $("#MainSelectionButton").prop('disabled',false).css('opacity',1);
                        $("#GetBackupDetailsButton").prop('disabled',false).css('opacity',1);
                        $("#RestoreBackupButton").prop('disabled',false).css('opacity',1);
                    });
                }
                else {
                    alert('Error: No backup selected.');
                    $("#MainSelectionButton").prop('disabled',false).css('opacity',1);
                    $("#GetBackupDetailsButton").prop('disabled',false).css('opacity',1);
                    $("#RestoreBackupButton").prop('disabled',false).css('opacity',1);
                }
            });



            $("#RestoreBackupButton").click(function () {
                $("#MainSelectionButton").prop('disabled',true).css('opacity',1);
                $("#GetBackupDetailsButton").prop('disabled',true).css('opacity',1);
                $("#RestoreBackupButton").prop('disabled',true).css('opacity',1);
                $("#MainOutput").html("");

                var VMNameLength = $("#VMName").val().length;
                if (VMNameLength < 1) {
                    alert('Error: No VM Name entered.');
                    $("#MainSelectionButton").prop('disabled',false).css('opacity',1);
                    $("#GetBackupDetailsButton").prop('disabled',false).css('opacity',1);
                    $("#RestoreBackupButton").prop('disabled',false).css('opacity',1);
                    return;
                }

                if (typeof $("#BackupSelection:checked").val() !== 'undefined') {
                    var data = $("#MainSelectionForm").serialize();

                    var selection = $("#BackupSelection:checked").val();

                    $("#MainOutput").html("");

                    $.post("/VM/BackupRestore",
                        data,
                        function (data, status) {
                            data = JSON.parse(data);
                            $("#MainOutput").html("<pre class=\"MainOutput\">" + data.restoreOutput + "</pre>");
                            $("#MainSelectionButton").prop('disabled',false).css('opacity',1);
                            $("#GetBackupDetailsButton").prop('disabled',false).css('opacity',1);
                            $("#RestoreBackupButton").prop('disabled',false).css('opacity',1);
                        }
                    )
                    .fail(function(response) {
                        alert('Error!\nVerify connection detail values.');
                        $("#MainSelectionButton").prop('disabled',false).css('opacity',1);
                        $("#GetBackupDetailsButton").prop('disabled',false).css('opacity',1);
                        $("#RestoreBackupButton").prop('disabled',false).css('opacity',1);
                    });
                }
                else {
                    alert('Error: No backup selected.');
                    $("#MainSelectionButton").prop('disabled',false).css('opacity',1);
                    $("#GetBackupDetailsButton").prop('disabled',false).css('opacity',1);
                    $("#RestoreBackupButton").prop('disabled',false).css('opacity',1);
                }
            });



        });
    </script>
}
